
.panel{border: none;box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.05);}
.nav-tabs > li > a { -webkit-transition: none; -o-transition: none; transition: none;}
/* Flash class and keyframe animation */
.waiting_call{
	color:#fff;
	background-color: #ec0c00;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding: 8px 10px;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
.panel-heading.payment_success {background-color: #036340;padding: 8px 10px;color: #fff; }
.panel-heading.waiting_call{padding: 0px;}
.panel-heading.cancel{background-color: #e3e8eb; padding: 8px 10px;color: #333; }
.panel-heading.wating_payment{background-color: #fdb757;padding: 8px 10px;color: #fff;}
.panel-heading.meeting{background-color: #29bed1;padding: 8px 10px;color: #fff; }
h5.panel-title, .h5.panel-title {font-size: 12px;}
.nopddding { padding : 0px; }
.nav-tabs:before {display: none;}
.page-header-default {margin-bottom: 0px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border: none;border-bottom: 3px solid #b08c54;color: #006540;}
.total_q { color: #888; }
ul.nav.nav-tabs {background: #fff;border-top: 1px solid #ddd;padding: 0px 10px;}
.content:first-child {padding-top: 0px;}
.panel-body-top {background: #fff;padding: 10px 10px !important;font-size: 12px;border-bottom: 1px solid #f2f2f2;margin-bottom: 5px;}
.panel-body {background: #fff;padding: 10px 10px !important;font-size: 12px;border-radius: 3px;}
.name_customer{ color: #016440;font-size: 14px;margin-bottom: 2px; }
.numberphone_email_customer{ color: #b08c54; font-size: 12px;}
.detail_customer_left{ padding: 5px 0px;color: #7e7e7e; }
.detail_customer_right{ padding: 5px 0px;}
.panel-footer a {color: #b08c54;font-size: 12px;}
.panel-footer{padding: 14px 0px;}

@media (max-width: 768px){
	.nav-tabs {padding: 0px 0;}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background: #fff;
	}
	a.heading-elements-toggle {
		display: none;
	}
	.nav-tabs > li.active > a:after, .nav-tabs > li.active > a:hover:after, .nav-tabs > li.active > a:focus:after {
		background: none;
	}
}




