/*modal*/

.modal-dialog {
	position:absolute;
	top: 50%;
	transform: translate(0, -50%) !important;
	-ms-transform: translate(0, -50%) !important;
	-webkit-transform: translate(0, -50%) !important;
	margin:auto 5%;
	width:90%;
	height:98%;
}
.modal-content {
	min-height:100%;
	position:absolute;
	top:15%;
	bottom:0;
	left:0%;
	right:0; 
	max-width: 85%;
	border-radius: 15px;
	margin: auto;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.modal-body {
	position:absolute;
	padding: 15px;
	left:0;
	right:0;
	overflow-y:auto;
	text-align: left;
	background: #fff;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;	
}
.modal-title {
	padding: 10px;
	background: #006540;
	color: #fff;
	font-size: 14px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.modal.fade.in {
	display: block;
}
.content_main_left{
	border-right: 1px solid #ddd;
	font-size: 13px;
}
.row_detail_top{
	border-bottom: 1px solid #ddd;
	margin: 10px 0px 10px;
}
.date_regis select {
	padding: 7px 12px 10px;
	width: 100%;
	border: 1px solid #b18e56;
	font-size: 13px;
	outline: none;
	margin: 0px 0px 10px;
	border-radius: 3px;
}
.styled-select select {
	background: #b18e56;
	color: #fff;
}
.unassigned_position{
	border: 1px solid #ddd;
	padding: 4px 7px;
}
.btn_cancel {
	color: #fff;
	margin-right: 5px;
	padding: 6px 10px;
	width: 100%;
	text-align: center;
	font-size: 13px;
	border-radius: 60px;
	border: none;
	border-bottom: 2px solid #6f6f6f;
	background: rgba(107,107,107,1);
	background: -moz-linear-gradient(left, rgba(107,107,107,1) 0%, rgba(184,184,184,1) 50%, rgba(107,107,107,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(107,107,107,1)), color-stop(50%, rgba(184,184,184,1)), color-stop(100%, rgba(107,107,107,1)));
	background: -webkit-linear-gradient(left, rgba(107,107,107,1) 0%, rgba(184,184,184,1) 50%, rgba(107,107,107,1) 100%);
	background: -o-linear-gradient(left, rgba(107,107,107,1) 0%, rgba(184,184,184,1) 50%, rgba(107,107,107,1) 100%);
	background: -ms-linear-gradient(left, rgba(107,107,107,1) 0%, rgba(184,184,184,1) 50%, rgba(107,107,107,1) 100%);
	background: linear-gradient(to right, rgba(107,107,107,1) 0%, rgba(184,184,184,1) 50%, rgba(107,107,107,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#6b6b6b', GradientType=1 );
}
.btn_accept {
	color: #fff;
	margin-left: 5px;
	padding: 6px 10px;
	width: 100%;
	font-size: 13px;
	text-align: center;
	border-radius: 60px;
	border: none;
	border-bottom: 2px solid #03481e;
	background: rgba(3,99,41,1);
	background: -moz-linear-gradient(left, rgba(3,99,41,1) 0%, rgba(12,158,102,1) 50%, rgba(3,99,41,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,99,41,1)), color-stop(50%, rgba(12,158,102,1)), color-stop(100%, rgba(3,99,41,1)));
	background: -webkit-linear-gradient(left, rgba(3,99,41,1) 0%, rgba(12,158,102,1) 50%, rgba(3,99,41,1) 100%);
	background: -o-linear-gradient(left, rgba(3,99,41,1) 0%, rgba(12,158,102,1) 50%, rgba(3,99,41,1) 100%);
	background: -ms-linear-gradient(left, rgba(3,99,41,1) 0%, rgba(12,158,102,1) 50%, rgba(3,99,41,1) 100%);
	background: linear-gradient(to right, rgba(3,99,41,1) 0%, rgba(12,158,102,1) 50%, rgba(3,99,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#036329', endColorstr='#036329', GradientType=1 );
}







